<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1> <%= DiceValue %></h1>
    <% if(DiceValue == 6) {%>
        <h2>Roll the Dice again!</h2>
    <% } %>
</body>
</html>